{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [
    {poolboy, "1.5.2"},
    {jsx, "3.1.0"},
    {lager, "3.9.2"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [elasticsearch]}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.

{relx, [
    {release, {elasticsearch, "0.1.0"},
    [
        lager,
        elasticsearch,
        jsx,
        poolboy,
        inets
    ]},

    {dev_mode, false},
    {include_erts, false},

    {sys_config,  "./config/sys.config"},

    {extended_start_script, true}
]}.