[
    {elasticsearch, [
        {pools, [
            {elasticsearch_workers, [
                {size,         10},
                {max_overflow, 20}
            ], [
                {worker_impl,  elasticsearch_worker},
                {url,          "localhost"},
                {port,         9200},
                {http_options, []}
            ]}
        ]}
    ]},

    %% Lager configuration
    {lager,[
        {handlers, [
            {lager_console_backend, [{level, error}]},
            {lager_file_backend,    [{file, "error.log"}, {level, error}]},
            {lager_file_backend,    [{file, "debug.log"}, {level, debug}]},
            {lager_file_backend,    [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].